[submodule "lib/axtls"]
	path = lib/axtls
	url = https://github.com/micropython/axtls.git
[submodule "lib/libffi"]
	path = lib/libffi
	url = https://github.com/libffi/libffi
[submodule "lib/lwip"]
	path = lib/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "lib/berkeley-db-1.xx"]
	path = lib/berkeley-db-1.xx
	url = https://github.com/micropython/berkeley-db-1.xx
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "lib/mynewt-nimble"]
	path = lib/mynewt-nimble
	url = https://github.com/micropython/mynewt-nimble.git
[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack.git
[submodule "lib/libhydrogen"]
	path = lib/libhydrogen
	url = https://github.com/jedisct1/libhydrogen.git
[submodule "lib/micropython-lib"]
	path = lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "lib/protobuf-c"]
	path = lib/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "lib/open-amp"]
	path = lib/open-amp
	url = https://github.com/OpenAMP/open-amp.git
